/* Basic colors */

$color-primary: #0e0e0e;
$color-secondary: #ffcc00;
$color-secondary-light: #525252;
$color-text-light: #ffffff;
$color-text-dark: #000000;
$color-active: #171717;
$color-scroll-bg: #2e2e2e;

/* Transparent */

$colot-dark-trans: #000000b3;
