@import "media.scss";
@import "font.scss";
@import "color.scss";

%DrukCyr-Bold {
   font-family: Druk Cyr, sans-serif;
   font-style: normal;
   font-weight: 700;
}

%Roboto-Bold {
   font-family: Roboto, sans-serif;
   font-style: normal;
   font-weight: 700;
}

%Roboto-Regular {
   font-family: Roboto, sans-serif;
   font-style: normal;
   font-weight: 400;
}

*,
*::before,
*::after {
   box-sizing: border-box;

   margin: 0px;
   padding: 0px;
}

body {
   display: block;
   height: 100%;
   background-color: $color-primary;
}

.scroll-hide {
   overflow: hidden;
}

/* Header */

.header {
   position: fixed;
   z-index: 1;
   display: flex;
   width: 100%;
   height: 55px;
   padding: 21px 20px 12px 20px;
}

@media #{$media} and ($feature: $value-1) {
   .header {
      height: 148px;
      padding: 66px 120px 23px 120px;
      a {
         img {
            min-width: 179px;
            min-height: 59px;
         }
      }
   }
}

/* Content */

.content {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: block;

   padding-top: 55px;
   padding-bottom: 66px;

   background-image: url(../../img/squoosh/background.jpg);
   background-size: cover;
}

@media #{$media} and ($feature: $value-2) {
   .content {
      padding-bottom: 100px;
   }
}

@media #{$media} and ($feature: $value-1) {
   .content {
      padding-top: 148px;
   }
}

.content__wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;

   min-width: 100%;
   min-height: 100%;

   padding-left: 16px;
   padding-right: 16px;
}

@media #{$media} and ($feature: $value-2) {
   .content__wrapper {
      flex-direction: row;
      justify-content: space-around;
   }
}

@media #{$media} and ($feature: $value-1) {
   .content__wrapper {
      padding-left: 120px;
      padding-right: 50px;
      justify-content: space-between;
   }
}

@media #{$media} and ($feature: $value-0) {
   .content__wrapper {
      align-items: flex-start;
   }
}

/* Offer */
.offer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   min-width: 289px;
   min-height: 228px;
}

@media #{$media} and ($feature: $value-1) {
   .offer {
      min-width: fit-content;
      min-height: fit-content;
   }
}

.offer__text {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-wrap: nowrap;

   color: $color-text-light;

   padding-top: 0px;
   .offer__title {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;

      margin-top: 8px;
      .offer__title--first {
         display: none;

         @extend %DrukCyr-Bold;

         font-style: normal;
         font-weight: bold;
         font-size: 64px;
         letter-spacing: 4.5px;
         line-height: 24px;
         text-align: center;

         color: $color-text-light;
      }
      .offer__title--end {
         display: none;

         @extend %DrukCyr-Bold;
         font-style: normal;
         font-weight: bold;
         font-size: 44px;
         letter-spacing: 3.5px;
         text-align: center;

         color: $color-text-light;
         margin-top: 10px;
      }
   }
   .offer__subtitle {
      @extend %Roboto-Regular;

      font-style: normal;
      font-weight: normal;
      font-size: 12.5px;
      line-height: 15px;
      text-align: center;

      color: $color-text-light;

      margin-top: 0px;
   }
   .offer__subtitle--low {
      @extend %Roboto-Regular;

      font-style: normal;
      font-weight: normal;
      font-size: 10.5px;
      line-height: 12px;
      text-align: center;

      color: $color-text-light;

      margin-top: 8px;
   }
}

@media #{$media} and ($feature: $value-1) {
   .offer__text {
      .offer__title {
         img {
            min-width: 420px;
         }
      }
      .offer__subtitle {
         @extend %Roboto-Regular;
         font-size: 22.5px;
         margin-top: 0px;
      }
      .offer__subtitle--low {
         font-size: 19px;
         margin-top: 8px;
      }
   }
}

@media #{$media} and ($feature: $value-0) {
   .offer__text {
      padding-top: 50px;
      .offer__title {
         margin-top: 22px;
         img {
            min-width: 510px;
         }
      }
      .offer__subtitle {
         font-size: 27px;
         margin-top: 22px;
      }
      .offer__subtitle--low {
         font-size: 22.5px;
         margin-top: 22px;
      }
   }
}

.offer__procent-title {
   display: flex;
   justify-content: center;
   align-items: center;

   width: 100%;
   height: 50px;

   img {
      height: 50px;
      width: 221px;

      padding-top: 8px;
   }
}

@media #{$media} and ($feature: $value-1) {
   .offer__procent-title {
      height: 100px;

      img {
         height: 100px;
         width: 420px;
      }
   }
}

@media #{$media} and ($feature: $value-0) {
   .offer__procent-title {
      img {
         width: 510px;
      }
   }
}

.offer__play-button {
   display: flex;
   align-items: center;
   justify-content: center;
   align-content: center;
   flex-wrap: nowrap;

   min-width: 100%;

   margin-top: 18px;
}

@media #{$media} and ($feature: $value-1) {
   .offer__play-button {
      justify-content: flex-start;
      margin-top: 36px;
   }
}

@media #{$media} and ($feature: $value-0) {
   .offer__play-button {
      margin-top: 48px;
   }
}

.play-button {
   cursor: pointer;

   width: 157px;
   height: 38px;

   background: $color-secondary;

   border: none;
   border-radius: 5px;

   font-style: normal;
   font-weight: bold;
   font-size: 13px;
   line-height: 18px;

   color: $color-text-dark;
}

@media #{$media} and ($feature: $value-1) {
   .play-button {
      width: 256px;
      height: 62px;
      font-size: 22px;
   }
}

@media #{$media} and ($feature: $value-0) {
   .play-button {
      width: 327px;
      height: 86px;
      font-size: 29px;
   }
}

.play-button:hover {
   color: $color-text-light;
}

.prevew {
   margin-top: 24px;
   img {
      width: 289px;
      height: 233px;
   }
}

@media #{$media} and ($feature: $value-2) {
   .prevew {
      margin-top: 0px;
      img {
         width: 289px;
         height: 233px;
      }
   }
}

@media #{$media} and ($feature: $value-1) {
   .prevew {
      margin-top: 0px;
      img {
         width: 420px;
         height: fit-content;
      }
   }
}

@media #{$media} and ($feature: $value-0) {
   .prevew {
      img {
         width: 729px;
         height: fit-content;
      }
   }
}

.link {
   display: inline-block;
}

/* Footer */

.footer {
   position: fixed;
   bottom: 0px;
   left: 0px;

   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: stretch;
   justify-content: space-between;

   background-color: $color-primary;

   min-width: 100%;
   height: 66px;

   padding: 10px 20px 10px 20px;
}

@media #{$media} and ($feature: $value-2) {
   .footer {
      height: 100px;
      justify-content: space-around;
   }
}

@media #{$media} and ($feature: $value-0) {
   .footer {
      padding: 25px 120px 25px 120px;
   }
}

.footer__pop-up {
   display: flex;
   align-items: center;
   justify-content: center;

   height: 16px;
   .pop-up {
      color: $color-text-light;

      @extend %Roboto-Regular;
      font-size: 10px;
      line-height: 12px;
      text-align: center;
      text-decoration: none;
      text-decoration-line: underline;
   }
}

@media #{$media} and ($feature: $value-2) {
   .footer__pop-up {
      height: 18px;
      .pop-up {
         font-size: 23px;
      }
   }
}

.footer__icons {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: space-between;

   margin-top: 8px;
}

.footer__comands {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   flex-flow: row-reverse;
}

.footer__stor--img {
   width: 66px;
   height: 18px;
}

.footer__stor--img--end {
   margin-left: 0px;
}

@media #{$media} and ($feature: $value-2) {
   .footer__stor--img {
      width: 96px;
      height: 32px;
   }
}

@media #{$media} and ($feature: $value-0) {
   .footer__stor--img {
      width: 148px;
      height: 42px;
   }
   .footer__stor--img--end {
      margin-left: 32px;
   }
}

.footer__comand--img {
   display: block;
   height: 21px;
   width: 21px;
   margin-right: 5px;
}

.footer__comand--img--first {
   height: 21px;
   width: 18px;
}

.footer__comand--img--end {
   height: 21px;
   width: 18px;
}

@media #{$media} and ($feature: $value-2) {
   .footer__comand--img {
      width: 41px;
      height: 41px;
      margin-right: 10px;
   }
}

@media #{$media} and ($feature: $value-0) {
   .footer__comand--img {
      width: 50px;
      height: 51px;
      margin-right: 20px;
   }
   .footer__comand--img--first {
      width: 37px;
      height: 51px;
   }
   .footer__comand--img--end {
      width: 38px;
      height: 51px;
   }
}

/* Pop-up */

.pop-up__wrapper {
   display: none;
   justify-content: center;
   align-items: center;

   position: fixed;

   z-index: 2;

   top: 0;
   left: 0;

   min-width: 100%;
   min-height: 100%;

   background-color: $colot-dark-trans;
}

.pop-up__active {
   display: flex;
}

.popup__border {
   position: relative;
   padding-top: 33px;
   padding-bottom: 42px;
   padding-left: 45px;
   padding-right: 0px;
   width: 600px;
   height: 600px;
   background-color: $color-active;
}

.pop-up__card {
   display: flex;
   justify-content: flex-end;
   align-items: stretch;
   flex-direction: row;
   flex-wrap: nowrap;

   overflow-y: auto;

   width: 100%;
   height: 100%;
}

.pop-up__content {
   width: 100%;

   padding-left: 45px;
   padding-right: 64px;

   color: $color-text-light;
   h2 {
      @extend %DrukCyr-Bold;
      font-size: 42px;
      line-height: 30px;

      letter-spacing: 6px;

      display: block;

      text-align: center;
      margin-bottom: 30px;
   }
   p {
      @extend %Roboto-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: 23px;
      line-height: 130%;
      margin-bottom: 30px;
   }
   ul {
      padding-left: 18px;
      padding-bottom: 32px;
   }
}

.pop-up__toolbox {
   position: absolute;

   min-width: 64px;

   right: 0px;
}

.close-button {
   cursor: pointer;

   position: relative;

   min-width: 64px;
   min-height: 64px;
   & > span:nth-child(1) {
      position: absolute;
      width: 19px;
      height: 2px;
      border-radius: 50%;

      background-color: $color-text-light;

      top: 42%;
      left: 30%;

      transform: rotate(45deg) translate(0%, -25%);

      transition: background-color 0.3s ease 0.2s;
   }
   & > span:nth-child(2) {
      position: absolute;
      width: 19px;
      height: 2px;
      border-radius: 50%;

      background-color: $color-text-light;

      top: 35%;
      left: 35%;

      transform: rotate(-45deg) translate(-25%, 0%);

      transition: background-color 0.3s ease 0.2s;
   }
}

.close-button:hover {
   & > span:nth-child(1) {
      background-color: $color-secondary;
      transition: background-color 0.3s ease 0.2s;
   }
   & > span:nth-child(2) {
      background-color: $color-secondary;
      transition: background-color 0.3s ease 0.2s;
   }
}

/* Scroll */

.simplebar-track {
   cursor: pointer;
   border: none;
}

.simplebar-scrollbar::before {
   background-color: $color-text-light;
   border: none;
}

.simplebar-track.simplebar-vertical {
   cursor: move;

   position: absolute;
   right: 30px;
   top: 64px;

   background-color: $color-scroll-bg;
   width: 9px;
   border-radius: 4px;
}
